@import "project.less";
@import "smart-grid.less";

.reset();

.ie10( {

    *,
    *::after,
    *::before {
      box-sizing: border-box;
    }
  }

);

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  max-width: 1440px;
}

.wrapper {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
}

h1,
.h1 {
  font-size: 45px;
  color: #ffffff;

  .xs(line-height, 40px);
}

h2,
.box-header {
  font-family: "Work Sans - Semi Bold", sans-serif;
  font-size: 30px;
  color: @colorHeaderTextBlack;
}

.text {
  font-size: 14px;
  line-height: 27.7px;
  color: @colorBlockText;
}

.announcement-block {
  display: flex;
  height: 1000px;
  background: url(../images/background.png) no-repeat center;

  &__header {
    padding-top: 62px;

    .xs(margin-right, 0);
  }

  &__content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .wrapper();

    .ie10( {
        max-width: 1230px;
      }

    );
  }

  &__add-info-block {

    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;

    .xs(margin-top, 35px);
  }

  &__phone {
    margin: 0 auto;

    .xs(margin-top, 90px);
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1150px;

  .xs(justify-content, center);

  &__logo {
    .xs-block( {
        margin-bottom: 20px;
        text-align: center;
        min-width: 90%;
      }

    );
  }

  &__nav {
    padding-left: 60px;
    margin-right: -3px;
    .xs(padding, 0px);
  }
}

.logo {
  flex: 0 1 98px;
  height: 40px;
  color: #ffffff;
}

.nav {
  display: flex;
  flex: 0 1 324px;
  font-size: 16px;

  .xs(justify-content, space-between);

  &__link {
    color: #ffffff;

    .ie10( {
        display: inline-block;
      }

    );
  }
}

.nav__link:nth-child(2) {
  margin-left: 60px;
  .xs(margin, 0);
}

.nav__link:nth-child(3) {
  margin-left: 57px;
  .xs(margin, 0);
}

.nav__link:nth-child(4) {
  margin-left: 53px;
  .xs(margin, 0);
}

.add-info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 512px;
  height: 240px;
  color: #ffffff;

  .ie10( {
      max-width: 520px;
    }

  );

  &__header {
    margin-left: 1px;
    max-width: 100%;
    text-align: center;
    font-family: "Work Sans - Semi Bold", sans-serif;

    .xs(font-size, 25px);

    span {
      display: inline-block;
      padding-top: 7px;
      margin-left: 18px;
    }
  }

  &__text {
    display: inline-block;
    padding-top: 22px;
    margin-left: 3px;
    max-width: 100%;
    text-align: center;
    font-size: 15px;
  }

  &__buttons {
    position: relative;
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    width: 339px;

    .xs(flex-direction, column);
    .xs(width, 175px);

    .ie10( {
        width: 345px;
      }

    );
  }
}

.info-block-button {
  display: inline-block;
  max-width: 100%;
  font-family: "Work Sans - Semi Bold", sans-serif;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 6px;
  transition: all .125s ease;

  &:hover {
    background: #ffffff;
    color: @colorHeaderTextBlack;
  }

}

.info-block-button:first-child {

  margin-left: -2px;
  padding: 8px 30px 10px 33px;

  .xs(margin-left, 0);

  .ie10( {
      padding: 8px 33px 14px 35px;
    }

  );
}

.add-info-block__info-block-button {
  padding: 8px 33px 14px 35px;

  .xs-block( {
      margin: 0;
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      text-align: center;
    }

  );
}

.phone {
  width: 100%;
  max-width: 260px;
  max-height: 470px;
  overflow: hidden;
}

.advantages-box {
  min-height: 1094px;
  background: @colorBackgroundGrey;

  &__inner {
    padding-top: 112px;
    padding-left: 109px;

    .wrapper();
    .lg(min-height, 1000px);

    .ie10( {
        max-width: 1230px;
      }

    );
  }

  &__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .lg(justify-content, center);
  }
}

.advantages-box__image {
  margin-top: 176px;
  margin-left: 112px;

  .lg(display, none);
}

.advantages-items {
  .row-flex();
  flex: 0 1 auto;
  justify-content: center;

  max-width: 800px;
}

.advantages-items__advantages-item {
  .lg-block( {
      margin-left: 15px !important;
      margin-right: 15px !important;
      margin-top: 15px !important;
      margin-bottom: 15px !important;
    }

  );
}

.advantages-item {
  .col();
  .size-lg(6);
  .size-sm(12);

  width: 271px;
  height: 322px;
  box-shadow: 0 6px 9px rgba(35, 39, 47, 0.1);
  background-color: #ffffff;

  &__inner {
    padding: 60px 27px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__icon {
    background-image: url(../images/icons/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
  }

  &__header {
    margin-top: 30px;
    color: @colorHeaderTextBlack;
    font-family: "Work Sans - Semi Bold", sans-serif;
  }

  &__text {
    max-width: 100%;
    margin-top: 14px;
    margin-left: px;
  }

  &:nth-child(1) {
    margin-left: 115px;

    .advantages-item__header {
      margin-top: 27px;
      margin-left: 2px;
    }
  }

  &:nth-child(2) {
    margin-top: 95px;
    margin-left: 45px;

    .advantages-item__header {
      margin-top: 26px;
      margin-left: -5px;
    }
  }

  &:nth-child(3) {
    margin-top: -25px;
    margin-left: -1px;

    .advantages-item__header {
      margin-top: 23px;
      margin-left: 2px;
    }
  }

  &:nth-child(4) {
    margin-top: 99px;
    margin-left: 64px;
  }

  .advantages-item__header {
    margin-top: 24px;
    margin-left: 5px;
  }
}

.advantages-item__icon_cart {
  margin-left: -10px;
  margin-top: 1px;
  width: 52px;
  height: 52px;
  background-position: -175px -5px;
}

.advantages-item__icon_support {
  margin-left: -10px;
  margin-top: 2px;
  width: 55px;
  height: 52px;
  background-position: -486px -5px;
}

.advantages-item__icon_roller {
  margin-top: -1px;
  margin-left: -7px;
  width: 49px;
  height: 58px;
  background-position: -427px -5px;
}

.advantages-item__icon_phone {
  margin-top: -5px;
  margin-left: 3px;
  width: 38px;
  height: 61px;
  background-position: -277px -5px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-height: 626px;

  @media screen and (min-width:0\0) and (min-width:992px) {
    height: 626px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: space-between;

    .wrapper();
    
  }

  &__description-box {
    margin-top: 38px;
  }

  &__description-tiles {
    margin-top: -26px;
    padding-left: 10px;

    .md-block( {
        margin-top: 0;
        padding-left: 0;
      }

    );
  
    .xs(margin-top, 30px);
  }
}

.description-box {
  .col();
  .size(5);
  .size-md(12);

  min-height: 283px;
  text-align: right;

  &__text {
    padding-right: 5px;
    margin-top: 42px;
  }

  &__box-header {
    padding-right: 5px;
  }

  &__download-button {
    display: inline-block;
    margin-top: 23.5px;
    margin-right: 6px;
  }
}

.download-button {
  padding: 13px 43px 19.5px 45px;
  background: @colorBlueLight;
  border-radius: 5px;

  &__text {
    font-family: "Work Sans - Semi Bold", sans-serif;
    font-size: 15px;
    color: #ffffff;
  }
}

.description-tiles {
  height: 432px;

  &__tile {
    margin-bottom: 19px; 
  }

  .col();
  .size(6);
  .size-md(12);
}

.tile {
  display: flex;
  align-items: center;
  height: 79px;
  font-size: 15px;
  box-shadow: 0 6px 9px rgba(35, 39, 47, 0.1);
  color: @colorHeaderTextBlack;

  &_huge {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 138px;
    overflow: auto;

    .ie10( {
        display: block;
      }

    );
  }

  &__inner {
    margin-bottom: 49px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__icon {
    display: block;
    background-image: url(../images/icons/spritesheet.png);
    background-repeat: no-repeat;

    &_heart {
      margin-left: 33px;
      margin-top: 2px;
      width: 30px;
      height: 26px;
      background-position: -237px -5px;
    }

    &_label {
      margin-left: 40px;
      width: 15px;
      height: 31px;
      background-position: -325px -5px;
    }

    &_portfolio {
      margin-left: 28px;
      margin-bottom: 5px;
      width: 31px;
      height: 28px;
      background-position: -386px -5px;
    }

    &_pencil {
      margin-left: 31px;
      width: 26px;
      height: 27px;
      background-position: -350px -5px;
    }
  }

  &__header {
    font-family: "Work Sans - Semi Bold";

    &_heart {
      margin-left: 20px;
    }

    &_label {
      margin-left: 30px;
      margin-bottom: 4px;
    }

    &_portfolio {
      margin-top: -2px;
      margin-left: 20px;
    }

    &_pencil {
      margin-left: 20px;
      margin-top: -1px;
    }
  }

  &__text {
    position: absolute;
    top: 60px;
    margin-left: 79px;
    max-width: 354px;
  }
}

.code {
  display: flex;
  justify-content: center;
  min-height: 476px;
  background: @colorBackgroundGrey;

  &__content {
    justify-content: space-between;
    .wrapper();
    .row-flex();
  }
}

.code-block {
  .col();
  .size(6);
}

.necessary-block {
  .col();
  .size(5);
}