@import "project.less";
@import "smart-grid.less";

.reset();

// *,
// *::after,
// *::before {
//   box-sizing: border-box;
// }

body {
  max-width: 1440px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  .wrapper();
}

.announcement-block {
  height: 1000px;
  background: url(../images/background.png) no-repeat;
  background-position: center;
}